body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
  border-bottom: 1px solid #000;
}

.navbar img {
  width: 80px;
  height: 80px;
}

.menu {
  display: flex;
  padding-right: 30px;
}

.menu a {
  display: block;
  border: 1px solid #000;
  text-decoration: none;
  padding: 8px 14px;
  color: black;
}

.menu a + a {
  border-left: none;
}

/* main */
.main {
  margin-bottom: 10px;
}
.main .text {
  padding: 30px 100px;
}

.text h1 {
  margin-bottom: 8px;
}

.text p {
  margin-top: 0;
}

.main img {
  width: 1366px;
  height: 578px;
  margin: 0 auto;
  display: block;
}

.line {
  border-bottom: 4px double #888;
  margin-top: 50px;
}

.headq {
  padding: 70px;
  margin-bottom: 20px;
}

.headq h1 {
  padding-bottom: 40px;
}

.head {
  display: flex;
  gap: 60px;
}

.head img {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  border: 2px solid #000;
}

.head .kota {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
}

.linee {
  width: 100%;
  border-bottom: 2px solid #000;
}

/* profile */

.profile-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-main img {
  border-radius: 100%;
  width: 400px;
  height: 400px;
  object-fit: cover;
  padding: 40px 80px;
}

.text-main {
  max-width: 800px;
  padding: 80px;
}



/* footer */
.footer {
  justify-items: right;
  padding-right: 10px;
}

/* Cari elemen main atau pembungkus konten tengah kamu */
.main,
.profile-main,
.headq {
  flex: 1; /* Ini akan mendorong footer ke titik paling bawah layar */
}
